.header-container {
	max-width: 60%;
	margin: 5% auto 0% auto;
}


h1 {
	font-family: 'Shrikhand', sans-serif;
	
	font-size: 3em;
	text-align: left;
	margin: 50px auto 1px auto;
}

h1 a {
	text-decoration: none;
	color:black;
}

h2 {
	font-family: 'Monserrat', sans-serif;
	font-size: 1.5em;
	text-align: left;
	margin: auto;
	margin-top: 20px;

}

h2 a {
	background-color: #FFFBD5;
	color: black;
	padding: 5px 10px;
	margin: 20px 10px 0px 0px;
	font-weight: bold;
	text-decoration: none;

}

h2 a:hover {
	background-color: #FFF100;
}


.intro {
	font-family: 'Monserrat', sans-serif;
	font-size: 1em;
	line-height: 1.5em;

}

.intro a {
	background-color: #FFFBD5;
	color: black;
	padding: 1px 3px;
	margin: 2px;
	font-weight: bold;
	text-decoration: none;
	
}



.intro a:hover {
	background-color: #FFF100;
}

.contact-info {
	margin-bottom: 3rem;
}


.contact a {
	font-family: 'Monserrat', sans-serif;
	font-size: .8em;
	text-align: left;
	background-color: #FFFBD5;
	color: black;
	padding: 1px 3px;
	margin: 0px 10px 3rem 0px;
	text-decoration: none;
	white-space: nowrap;

}


.contact a:hover {
	background-color: #FFF100;
	color: black;
}

.labels {
	font-family: 'Monserrat', sans-serif;
	font-weight: bold;
	font-size: .8em;
	text-align: left;
	margin: 30px auto -10px auto;
	color: black;

}

#project_list {
	width: 60%;
	margin: 30px auto 10% auto;
}

.project_name {
	font-family: 'Shrikhand', sans-serif;
	font-size: 1.3em;
	margin-top: 20px;
	
	color: black;
}

.project_desc {
	font-family: 'Monserrat', sans-serif;
	font-size: 1em;
	line-height: 1.5em;

}

.project_skills {
	font-family: 'Monserrat', sans-serif;
	font-size: .65em;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ddd;


}

.project_skills:last-child {
	border-bottom: none;
}


.project_desc a {
	background-color: #FFFBD5;
	color: black;
	padding: 1px 3px;
	margin: 2px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
}

.project_desc a:hover {
	background-color: #FFF100;
	color: black;


}

.project-page-img  {
	padding-top: 20px;
	width: 100%;
}

.back-button {
	text-align: center;
	margin: 50px auto;
}
.back-button a{
	font-family: 'Monserrat', sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: black;

}

body {
	background-color: #fff;
}

/*mobile*/
@media (max-width: 700px) {

#project_list {
	width: 90%;
	margin: 30px auto 70px auto;
}

.header-container {
	width: 90%;
}
}


img {
	width: 100%;
}